// main: ../style.less

.discount {
    position: fixed;
    top: 33px;
    right: -60px;
    width: 400px;
    height: 400px;
    z-index: 1;
    border-radius: 50%;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 70px 20px 20px;
}

.discount__wrapper {
    position: relative;
    text-align: center;
}

.discount__close {
    position: absolute;
    top: -43px;
    right: 19px;
    border: 0;
    background-color: transparent;
    font-size: 3rem;
    cursor: pointer;
    color: #333;

    &:focus {
        outline: 0;
    }
}

.discount__title,
.discount__suptitle {
    margin-bottom: 2rem;
}

.discount__old-price {
    font-style: italic;
    text-decoration: line-through;

}

.discount__price {
    font-size: 2rem;
    margin-top: 1rem;
    font-style: italic;
    font-weight: 700;
    margin-left: 3rem;
    color: crimson;
}

@media screen and (max-width: 575px) {
    .discount {
        padding: 43px 35px 10px 10px;
        right: -35px;
        top: 82px;
        width: 200px;
        height: 200px;
    }

    .discount__close {
        font-size: 2rem;
        right: 6px;
        top: -28px;
    }

    .discount__title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .discount__suptitle,
    .discount__old-price {
        margin-bottom: 0;
        font-size: 1rem;
    }

    .discount__price {
        margin: 0;
        font-size: 1.5rem;
    }
}
