// main: ../style.less

.description {
    display: none;
    
    &.show {
        display: flex;
    }
}

.description__photo {
    width: 50%;
}

.description__content {
    padding: 5rem 0 10rem 0;
    width: 50%;
}